{% extends 'page.html' %}
{% block content %}
    <h1>Register</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}

    <ul class=flashes>
{% for message in messages %}

<div class="alert alert-info">
                <strong>Failure! </strong> {{ message }}</div>


{% if "Error" in message[1]: %}
<div class="alert alert-warning">
                { { message[1] }}</div>
{% endif %}
{% endfor %}
    </ul>
{% endif %}
{% endwith %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
                <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>
            {{ form.confirm.label }}<br>
            {{ form.confirm(size=32) }}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
